/* build time:Fri Feb 10 2023 14:55:42 GMT+0800 (中国标准时间)*/
@font-face{font-family:main;src:url(/fonts/font.woff2);font-display:swap}#masters{background-color:#ffa51e;color:#fff}#friends{background-color:#65c6ff;color:#fff}#stranger{background-color:#bebab3;color:#fff}
/* rebuild by neat */