@font-face{
    font-family:'nerd' ;  /* 字体名自定义即可 */
    src:url('/fonts/nerd.otf'); /* 字体文件路径 */
    font-display : swap;
  }
@font-face{
    font-family:'songti' ;  /* 字体名自定义即可 */
    src:url('/fonts/songti.otf'); /* 字体文件路径 */
    font-display : swap;
  }
@font-face{
    font-family:'Althea' ;  /* 字体名自定义即可 */
    src:url('/fonts/Althea.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
@font-face{
    font-family:'ink' ;  /* 字体名自定义即可 */
    src:url('/fonts/ink.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
